/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "redox.dtsi"

&kscan0 {
	col-gpios
		= <&pro_micro 017 GPIO_ACTIVE_HIGH>
		, <&pro_micro 020 GPIO_ACTIVE_HIGH>
		, <&pro_micro 022 GPIO_ACTIVE_HIGH>
		, <&pro_micro 024 GPIO_ACTIVE_HIGH>
		, <&pro_micro 100 GPIO_ACTIVE_HIGH>
		, <&pro_micro 011 GPIO_ACTIVE_HIGH>
		, <&pro_micro 104 GPIO_ACTIVE_HIGH>
		, <&pro_micro 106 GPIO_ACTIVE_HIGH>
		;
};
